<section id="contact" class="contact-section py-5">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="section-title">Contact me</h2>
      <p class="section-subtitle">Do you have a project in mind? Let's talk!</p>
    </div>      
      <div class="col-lg-4">
        <div class="contact-info">
          <h3 class="contact-info-title">Contact information</h3>
          
          <div class="contact-item">
            <div class="contact-icon">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="contact-details">
              <h4>Email</h4>
              <p>rretanalopez&#64;gmail.com</p>
            </div>
          </div>
          
          <div class="contact-item">
            <div class="contact-icon">
              <i class="fas fa-phone"></i>
            </div>
            <div class="contact-details">
              <h4>Phone number</h4>
              <p>+506 6088 9539</p>
            </div>
          </div>
          
          
          <div class="social-links">
            <h4 class="social-title">Follow me</h4>
            <div class="social-icons">
              <a href="https://www.linkedin.com/in/rodrigorrl16/" class="social-link" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="https://github.com/RodrigoLopez16" class="social-link" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
